<!-- <app-assignment1></app-assignment1> -->

<!-- <button routerLink="/countries">Countries</button>

<button routerLink="/login">Login</button>

<button routerLink="/signup">Signup</button> -->

<!-- <h1>Hii</h1> -->

<button class="dropbtn" routerLink="/home">Home</button>
<button class="dropbtn" routerLink="/assignment1">Assignment 1</button>
<div class="dropdown">
    <button class="dropbtn">Assignment 2</button>
    <div class="dropdown-content">
      <a routerLink="/assignment1/q1">Question 1</a>
      <a routerLink="/assignment1/q2">Question 2</a>
      <a routerLink="/assignment1/q3">Question 3</a>
      <a routerLink="/assignment1/q4">Question 4</a>
      <a routerLink="/assignment1/q5">Question 5</a>
      <a routerLink="/assignment1/q6">Question 6</a>
      <a routerLink="/assignment1/q7">Question 7</a>
      <a routerLink="/assignment1/q8">Question 8</a>
      <a routerLink="/assignment1/q9">Question 9</a>
    </div>
</div>
<div class="dropdown">
    <button class="dropbtn">Assignment 3</button>
    <div class="dropdown-content">
        <a routerLink="/auth/login">Login</a>
        <a routerLink="/auth/signup">Signup</a>
    </div>
</div>
<div class="dropdown">
  <button class="dropbtn">Contact Application</button>
  <div class="dropdown-content">
    <a routerLink="/applogin">Login</a>
    <a routerLink="/appsignup">Signup</a>
    <!-- <a routerLink="/appcontactList">Contact List</a> -->
  </div>
</div>
<button class="dropbtn" routerLink="/countries">Countries</button>
<button class="dropbtn" routerLink="/endsem/form">End Sem Question</button>

<router-outlet></router-outlet>

<!-- <h2> {{title}} </h2>

<h2 class="myname"> {{name}} </h2>

<button (click)="changeName()">ChangeName</button>

<h2> {{obj.rno}} is {{obj.name}} </h2>

 <h4> {{student.name}} -- {{student.rno}} </h4>

<h5 *ngIf="showArray">{{arr}}</h5>

<button (click)="toggleArray()">Toggle Array Display</button>

<ul>
  <li> {{arr[0]}} </li>
  <li> {{arr[1]}} </li>
</ul>

<ul>
  <li (click)="callMe(x)" *ngFor=""></li>
</ul> -->

<!-- <table>
  <thead>
    <th>
      Sr. No
    </th>
    <th>Name</th>
    <th>Empid</th>
    <th>Salary</th>
  </thead>
  <tbody>
    <tr
    *ngFor="let e of employees;let i = index"></tr>
    <td> {{i+1}} </td>
  </tbody>
</table> -->